In [4]:
import pandas as pd
import numpy as np

In [6]:
a = [1,2,4]
b= ['a','b','c']
c=  np.array(a)
d = {'a':10,'b':20,'c':30}

In [11]:
d

{'a': 10, 'b': 20, 'c': 30}

In [18]:
pd.Series(a,b)

a    1
b    2
c    4
dtype: int64

In [23]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [25]:
ser1 = pd.Series([1,2,3,4],['ram','shyam','hari','sita'])

In [27]:
ser1

ram      1
shyam    2
hari     3
sita     4
dtype: int64

In [28]:
ser2 = pd.Series([1,2,5,4],['ram','shyam','owl','sita'])

In [30]:
ser2

ram      1
shyam    2
owl      5
sita     4
dtype: int64

In [32]:
ser2['ram']

1

In [33]:
ser1+ser2

hari     NaN
owl      NaN
ram      2.0
shyam    4.0
sita     8.0
dtype: float64